### pandas - DataFrame 클래스: 행(row)과 열(column)로 이루어진 2차원 리스트이다.

In [4]:
import pandas as pd
# 1. 시리즈 결합해서 데이터프레임 만들기

index=["2018", "2019", "2020", "2021"]

younghee = pd.Series([143, 150, 157, 16], index=index)
cheolsu = pd.Series([165, 172, 175, 180], index=index)

growth = pd.DataFrame({
    '영희': younghee,
    '철수': cheolsu
})
growth

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021   16  180

In [141]:
# 일반적인 데이터 프레임 만들기

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)

print(growth)
# print(growth.columns) #칼럼
# print(growth.values) #값

# # 열 선택
# print(growth['철수'])
# # 열이름 선택 
# print(growth[['철수']])
# loc[행(문자), iloc[인덱스(숫자)]
print(growth.loc['2020'])
print(growth.iloc[2])
print(growth.loc[['2020', '2021']])
print(growth.iloc[[2, 3]])

# print(growth.loc[growth['영희']==150, :])

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
영희    157
철수    175
Name: 2020, dtype: int64
영희    157
철수    175
Name: 2020, dtype: int64
       영희   철수
2020  157  175
2021  160  180
       영희   철수
2020  157  175
2021  160  180

In [159]:
# 일반적인 데이터 프레임 만들기

data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}

growth = pd.DataFrame(data, index=index)


# 특정 요소 1개 선택
# loc[행(문자), 열(문자)], iloc[행(숫자), 열(숫자)]
# print(growth.loc['2020', '철수'])
# print(growth.iloc[2, 1])
#행추가
growth.loc['2022'] = [163, 185]
print(growth)
#복사 - 원본유지(깊은 복사 - 원본과 별도로 삭제, 수정) - copy()
growth2 = growth.copy()
growth2 = growth.drop('2020') #행삭제

print(growth2)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180
2022  163  185
       영희   철수
2018  143  165
2019  150  172
2021  160  180
2022  163  185

In [10]:
#csv 파일 만들기
data = {
    '영희': [143, 150, 157, 160],
    '철수': [165, 172, 175, 180]
}
index=["2018", "2019", "2020", "2021"]
growth = pd.DataFrame(data, index=index)

growth.to_csv('./datas/growth.csv')

# csv 파일 읽기 - to_read_csv(경로)
growth = pd.read_csv("./datas/growth.csv", index_col=0)
print(growth)

       영희   철수
2018  143  165
2019  150  172
2020  157  175
2021  160  180

In [133]:
# 실습2 데이트프레임 만들기

data = {
    '국어': [90, 80, 85],
    '수학': [80, 75, 95],
    '영어': [85, 95, 100]
}
student = ['재천', '선영', '일성']
growth1 = pd.DataFrame(data, index=student)
print(growth)

    국어  수학   영어
재천  90  80   85
선영  80  75   95
일성  85  95  100